{% extends 'Plant/base.html' %}
{% block content %}
	
	<div>
	<section id="main">
		<div id="Carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#Carousel" data-slide-to="0" class="active">
				</li>
				<li data-target="#Carousel" data-slide-to="1">
				</li>
				<li data-target="#Carousel" data-slide-to="2">
				</li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item carousel-image-1 active">
					<div class="container">
						<div class="carousel-caption d-none d-sm-block text-right mb-5">
							<h1 class="display-3 title-color">Title One
							</h1>
							<p class="lead"> I am implementing something please dont disturb ,e now, bcz you cannot over power me.  </p>
							{% if user.is_authenticated %}
							<a href="{% url 'logout' %}" class="btn btn-color slide-btn btn-lg">Logout</a>
							{% else %}
							<a href="{% url 'register' %}" class="btn btn-color slide-btn btn-lg"> Sign Up Now</a>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="carousel-item carousel-image-2">
					<div class="container">
						<div class="carousel-caption d-none d-sm-block mb-5">
							<h1 class="display-3 title-color"> Title Two </h1>
							<p class="lead"> I am implementing something please dont disturb ,e now, bcz you cannot over power me. </p>
							<a href="#" class="btn btn-color slide-btn btn-lg" >
								Learn More
							</a>
						</div>
					</div>
					
				</div>

				<div class="carousel-item carousel-image-3">
					<div class="container">
						<div class="carousel-caption d-none d-sm-block mb-5">
							<h1 class="display-3 title-color"> Title Three </h1>
							<p class="lead"> I am implementing something please dont disturb ,e now, bcz you cannot over power me. </p>
							<a href="#" class="btn btn-color slide-btn btn-lg" >
								Learn More
							</a>
						</div>
					</div>
					
				</div>

				<a href="#Carousel" data-slide="prev" class="carousel-control-prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				
				<a href="#Carousel" data-slide="next" class="carousel-control-next">
					<span class="carousel-control-next-icon"></span>
				</a>

			</div>
		</div>
	</section>
	<div>

{% endblock content %}

