{% extends 'Plant/base.html' %}
{% block content %}
<div class="total">
	<div class="errorclass">
	{% if  form.errors.username or form.errors.password1 or form.errors.password2 %}
					<div class="alert alert-danger" id="watcher">
					</div>	
	{% endif %}
	</div>
<div class="mainclass">
	<div class="container" id="containerId">
		<div class="myCard">
			<div class="row">

				<div class="col-md-6" id="leftWrapper">
					<div class="myLeftCtn">
						
						<div class="likeform">
						<h1> Logged Out!!! </h1>
						<p><a href="{% url 'login' %}"><small> Sign in again? </small> </a> </p>
						</div>
					</div>


				</div>

				<div class="col-md-6" >

					<div class="myRightCtn">
						<div class="box">
							<header> How was Journey? </header>
							<p>
								This is some text, you can replace it with any information you want. This is an ideal internship for me. This uses django...ohh wow..is it ?
							</p>
							<input type="button" class="btn btn-info" value="Learn More" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>

{% endblock content %}